<div class="shopping-cart-container">
  <h2>Shopping Cart</h2>

  <!-- Cart Item List -->
@for (item of cart; track $index) {
  <div class="cart-item">
    <img [src]="item.imageUrl" alt="{{ item.title }}" class="item-image" />
    <div class="item-details">
      <h3 class="item-name">{{ item.title }}</h3>
      <p class="item-price">€{{ item.price | number : "1.2-2" }}</p>

      <!-- Quantity Selector -->
      <div class="quantity-controls">
        <button (click)="decreaseQuantity(item)">-</button>
        <span class="item-quantity">{{ item.quantity }}</span>
        <button (click)="increaseQuantity(item)">+</button>
      </div>
    </div>
    <button (click)="removeItem(item)" class="remove-button">Remove</button>
    
  </div>
}@empty {
  <p>Cart is empty</p>
}
  <!-- Cart Total -->
  <div class="cart-total">
    <h3>Total: €{{ calculateTotal() | number : "1.2-2" }}</h3>
    
  </div>
  <hr>
</div>

<form [formGroup]="checkout" (ngSubmit)="checkOutFunction()">
  <div class="mb-3">
    <h1 class="mb-3 text-center">Checkout Form</h1>
    <label for="exampleName" class="form-label mb-3">Full Name</label>
  <input type="text" placeholder="Full Name" formControlName="fullName" class="form-control mb-3">
  <label for="exampleAdress" class="form-label">Your Adress</label>
<input type="text" placeholder="Adress" formControlName="adress" class="form-control mb-3">
<label for="exampleEmail" class="form-label">Email Adress</label>
<input type="email" placeholder="E-Mail Adress" formControlName="eMail" class="form-control mb-3">
<input type="submit" value="Checkout" class="submitt-button btn-danger">
</div>

</form>
