<div class="book-details-container">
  <div class="book-header">
    <h1 class="book-title">{{ book.title }}</h1>
    <p class="author">{{ book.author }}</p>
  </div>

  <div class="book-content">
    <img [src]="book.imageUrl" [alt]="book.title" class="book-cover" />

    <div class="book-info">
      <h3>Description</h3>
      <p>{{ book.description }}</p>
    </div>
  </div>

  <div class="btn-container">
    <a
      class="button-add"
      type="button"
      routerLink="cart/{{ index }}"
      (click)="addToCart()"
      >Add to Cart</a
    >
  </div>
</div>
